<ol>
  {{#each posts as |post|}}
  <li>
    <div class="d-flex justify-content-between">
      <a href="/dashboard/{{post.id}}">{{post.title}}</a>
      <p>{{post.create_at}}</p>
    </div>
  </li>
  {{/each}}
</ol>

<div class="newPost">
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-light"><a href="/dashboard/newpost">
      New Post
    </a></button>
  </div>
</div>

