<ol>
  {{#each posts as |post|}}
  <li>
    <div class="d-flex justify-content-between">
      <a href="/dashboard/{{post.id}}" class="text-dark">{{post.title}}</a>
      <p class="text-dark">{{format_date post.createdAt}}</p>
    </div>
  </li>

  {{/each}}
</ol>

<div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-light"><a href="/dashboard/newpost">
        New Post
      </a></button>
  </div>
</div>