<form class="signup-form">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="name-signup">
  </div>
  <div class="mb-3">
    <label for="emailAccount" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email-signup">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<script src="./js/signup.js"></script>